.Rhistory
.RData
0_raw_data/ACT/
0_raw_data/GPS/
0_raw_data/MOR/
0_raw_data/METADATA/230718-TabAnimauxGPS.xlsx
0_raw_data/METADATA/2305051225-BackupCGPS.txt
1_Data_clean_and_merge/
.RDataTmp
0_raw_data.zip
.README.md.kate-swp
2_Fits_outputs/
.Rproj.user
